streamlit
streamlit-chat
langchain
langchain-community
langchain-openai
openai
torch       # will pull the newest CPU wheel (currently 2.6.0)
transformers
sentence-transformers
faiss-cpu
pandas
openpyxl
PyPDF2
python-docx
requests
beautifulsoup4
html2text
tqdm
numpy
python-dotenv
folium                  # For rendering maps in Streamlit
geopandas               # To work with GeoJSON & spatial data
shapely                 # Required by geopandas for geometry operations
fiona                   # For reading shapefiles (if ever needed)
pyproj                  # For coordinate reference systems
rtree                   # Optional but helps with spatial joins (used in geopandas)
streamlit-folium
geopy
streamlit-javascript
